#contact {
    background-color: white;
    padding: 10px;
    height: 450px;
    color: #1a343d;
}

.form {
    padding-right: 20px;
    font-weight: 700;
}

.form input {
    width: 100%;
    line-height: 20px;
    margin: 10px;
    border: 1px solid #62acc7;
    color: #1a343d;
}

.form textarea {
    width: 100%;
    margin: 10px;
    border: 1px solid #62acc7;
    color: #1a343d;
}

label {
    margin: 10px;
}

.button {
    margin: 10px;
    background-color: #62acc7;
    padding: 10px 30px;
    font-weight: 700;
    color: white;
}

.button:hover {
    background-color: #1a343d;
}