body {
    background-color: #EEF2F3;
}

.menu {
    background-color: darkkhaki;
    height: 100%;
    position: fixed;
    width: 190px;
    font-size: 0.9rem;
}

.menu ul, .items ul {
    list-style-type: none;
}

.items li {
    padding-top: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: darkslategrey;
}

a:hover, a:active {
    color: white;
    background-color: black;
    padding: 10px;
}