body {
    background-color: #2b3a37;
    font-family: 'Space Mono', monospace;
}

.menu {
    height: 100%;
    position: fixed;
    width: 190px;
    font-size: 0.9rem;
}

.menu ul, .items ul, .logo {
    list-style-type: none;
}

.logo {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size:1.2rem;
}

.logo a:link, a:visited {
    text-decoration: none;
    color: #55e8c8;
}

/* .logo a:hover, a:active {
    color: white;
} */

.items li {
    padding-top: 10px;
}

.items a:link, a:visited {
    text-decoration: none;
    color: #55e8c8;
}

.items a:hover, a:active {
    color: white;
    background-color: black;
    padding: 0 10px;
}

@media only screen and (max-width: 720px) {
    .menu{
        width: 100px;
        padding-left: 5px;
    }
    .menu ul, .items ul {
        display: inline;
    }
}