/*
background color:  #2b3a37
menu text color: #55e8c8
content text color: #55e8c8
*/
html{
    height: 100%;
}
body {
    background-color: #2b3a37;
    font-family: 'Space Mono', monospace;
}

.menu {
    height: 100%;
    position: fixed;
    width: 190px;
    font-size: 0.9rem;
}

.menu ul, .items ul, .logo {
    list-style-type: none;
}

.logo {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size:1.2rem;
}

.logo a:link, .logo a:visited {
    text-decoration: none;
    color: #55e8c8;
}

/* .logo a:hover, a:active {
    color: white;
} */

.items li {
    padding-top: 10px;
}

.items a:link, .items a:visited {
    text-decoration: none;
    color: #55e8c8;
}

.items a:hover, .items a:active {
    color: white;
    background-color: black;
}

.content {
    position: absolute;
    color: white;
    left: 200px;
    margin-top: 50px;
    margin-right: 20px;
}

.content a:link, .content a:visited {
    text-decoration: none;
    color: #55e8c8;
}

.content a:hover, .content a:active {
    background-color: black;
}

.cL {
    font-weight: 900;
}

.cL a:link, .cL a:visited {
    text-decoration: none;
    color: white;
}

.cL a:hover, .cL a:active {
    background-color: #808080;
}

.pD:hover {
    background-color: #55e8c8;
    color: black;
}

#contact {
    margin-top: 10em;
}

.crossed-out {
    text-decoration: line-through wavy #55e8c8;
    -webkit-text-decoration: line-through wavy #55e8c8; /* Safari */
}

.titleAnimate{
    font-size: 2em;
}

.subtext{
    font-family: 'Press Start 2P',cursive;
}

@media only screen and (max-width: 720px) {
    .menu{
        width: 100px;
        padding-left: 5px;
    }
    .menu ul, .items ul {
        display: inline;
    }

    .content {
        position: absolute;
        color: white;
        left: 110px;
        margin-top: 50px;
        margin-right: 20px;
    }
}
